<div class="md:py-20 xl:px-42 md:px-20 px-4 py-5 flex flex-col items-center md:items-start">
  <h1 class="text-4xl font-bold pb-6 text-center md:text-start">
    {{ tSer.translate('projetos') }}
  </h1>
  <div class="grid-container lg:max-w-300 xl:mx-auto">
    <app-projeto-card
      githubLink="https://github.com/ICEI-PUC-Minas-PMGES-TI/pmg-es-2025-1-ti2-3740100-dancesys"
      [suptitle]="tSer.translate('proj1Subtitulo')"
      [title]="tSer.translate('proj1Titulo')"
      class="lg:[grid-area:proj1]"
    >
      {{ tSer.translate('proj1Descricao') }}
    </app-projeto-card>
    <app-projeto-card
      githubLink="https://github.com/RenatoDNS/ProjTheOfficeCoOp"
      [suptitle]="tSer.translate('proj2Subtitulo')"
      [title]="tSer.translate('proj2Titulo')"
      class="lg:[grid-area:proj2]"
    >
      {{ tSer.translate('proj2Descricao') }}
    </app-projeto-card>
  </div>
</div>
